.modalInput {
  background: transparent !important;
  color: white !important;
  border: 1px solid white !important;
  border-radius: 0 !important;
}

.modalSelect {
  width: auto;
  background: transparent !important;
  color: white !important;
  border: 1px solid white !important;
}
