.mainContent {
  padding: 30px;
  position: relative;
}
.btnGroupCreate {
  border: 1px solid #ffffff;
  color: #ffffff;
  background: transparent;
  padding: 5px 15px;
  position: absolute;
  top: 30px;
  right: 30px;
}
.sectionTitle {
  font-size: 1.5rem;
  border-bottom: 1px solid #ffffff;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
.groupItem {
  font-size: 1.2rem;
  margin-bottom: 10px;
  cursor: pointer;
}
.paginationCustom {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
  justify-content: center;
}
