.mainContent {
  padding: 40px;
}
.sectionTitle {
  font-size: 1.5rem;
  border-bottom: 1px solid #ffffff;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 25px;
}
.remittanceItem {
  font-size: 1.2rem;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.settlementDate {
  width: 20%;
}
.groupName {
  width: 20%;
}
.amount {
  width: 40%;
  text-align: right;
  margin-right: 3rem;
}
.btnMove {
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
  padding: 3px 15px;
  border-radius: 5px;
}
.statusText {
  font-size: 1.1rem;
}
.ModalRemittanceItem {
  font-size: 1.2rem;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}
.ModalSettlementDate {
  width: 25%;
}
.ModalGroupName {
  width: 25%;
}
.ModalAmount {
  width: 25%;
  text-align: right;
}
.ModalStatusText {
  width: 25%;
}
